.greybtn {
  border: solid 1px var(--borderColor);
  display: flex;
  justify-content: center;
  background-color: var(--colorPrimary);
  color: var(--white);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2rem;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}

.bluebtn_big {
  border: solid 1px var(--borderColor);
  display: flex;
  justify-content: center;
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2rem;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}

.smallbtn_grey {
  border: solid 1px var(--borderColor);
  background-color: var(--colorPrimary);
  color: var(--white);
  border-radius: var(--borderRadius2);
  font-size: 0.9rem;
  line-height: 1rem;
  width: fit-content;
  padding: 6px 10px;
  cursor: pointer;
}

.smallbtn {
  background-color: var(--green);
  color: var(--white);
  border-radius: var(--borderRadius2);
  font-size: 0.9rem;
  line-height: 1rem;
  width: fit-content;
  padding: 6px 10px;
  cursor: pointer;
}

.smallbtn_blue {
  background-color: var(--pink);
  color: var(--white);
  border-radius: var(--borderRadius2);
  font-size: 0.9rem;
  line-height: 1rem;
  width: fit-content;
  padding: 6px 10px;
  cursor: pointer;
}

.greybtn:hover {
  background-color: #377ba8;
}

/* .delbtn {
  border: none;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
} */

a.save {
  display: inline-block;
  width: 25%;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgb(171, 21, 21);
}

a.deleteButton {
  display: block;
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  background-image: var(--imgDelete);
}
.functionality_btns button,
.or_and_btns button,
.compare_btns button,
.condition_btns button {
  margin-right: var(--padsmall);
}

.functionality_btns {
  margin-top: var(--padsmall);
  margin-bottom: var(--padsmall);
}

/* .buttons {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0056b3;
} */
