html {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}
button {
  all: unset;
  cursor: pointer;
}

body {
  margin-top: 50px !important;
  background: var(--black);
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

input {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius2);
  padding: var(--inputSelectPad);
  color: var(--white);
  background-color: var(--colorPrimary);
}

select {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius2);
  padding: var(--inputSelectPad);
  color: var(--white);
  background-color: var(--colorPrimary);
}

.flex_vertical {
  display: flex;
  flex-direction: column;
}

.flex_horizontal {
  display: flex !important;
  flex-direction: row !important;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_basis25 {
  margin: 5px;
  flex-basis: calc(25% - 10px);
}
.gap10 {
  gap: var(--padsmall);
}

.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}

.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}

p {
  margin-bottom: 0;
}
.block {
  display: block;
}
.hidden {
  display: none !important;
}
.space_between {
  justify-content: space-between !important;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* .basic_input {
  margin: 10px 5px;
} */
.h2_underline {
  padding-bottom: var(--padsmall);
  margin-bottom: var(--padsmall);
  border-bottom: solid 1px var(--borderColor);
}

.modal {
  z-index: 9999 !important;
}

/* NAV */
.global_nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: var(--lightblack);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.global_nav h1 {
  flex: auto;
  margin: 0;
}
.global_nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
.global_nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.global_nav ul li a,
.global_nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}
