:root {
  --white: #e4e5e0;
  --colorTextSecondary: floralwhite;
  --colorPrimary: #555555;
  --borderColor: #787878;
  --borderColor2: #b1b1b1;
  --colorTertiary: yellow;
  --colorToDo: lightsalmon;
  --colorOngoing: palegoldenrod;
  --colorDone: lightgreen;
  --lightblack: #555555;
  --black: #3c3f41;
  --lightblue: #3592c4;
  --imgDelete: url(../img/trash.png);
  --borderRadius2: 4px;
  --pink: #f45487;
  --green: #499c54;

  --inputSelectPad: 0.4rem;
  --padsmall: 10px;
}
