{% extends 'base.html' %}
{% from 'macros.html' import greeting with context %}
{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('strategy.createstrat') }}">New Strat</a>
{% endif %} {% endblock %} {% block content %}
<h2>Posts</h2>


<!-- prettier-ignore -->
{% for strategy in strategies %}
  {% if g.user and g.user['id'] == strategy['fk_user_id'] %}
    <article class="post">
      <header>
        <div>
          <h1>{{ strategy['strategy_name'] }}</h1>
          <div class="about">{{ strategy['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <a class="action" href="{{ url_for('strategy.stratupdate', id=strategy['strategy_id']) }}">Edit</a>
      </header>
      <p class="body">{{ strategy['info'] }}</p>
    </article>
    <!-- loop.last is a special variable available inside Jinja for loops. 
        It’s used to display a line after each post except the last one, to visually separate them. -->
    {% if not loop.last %}
    <hr />
    {% endif %}
  {% endif %}
{% endfor %}

<!-- <h2>Indicators</h2>
{{ greeting("Alice") }} -->



<!-- <ul class="list_flex">
  {% for dict_item in parent_list %}
  <div class="indicator_input">
    {% for key, value in dict_item.items() %} 
      {% if key == "kind" %}

        <h2>{{value}}</h2>
      {% else %}
        <label for="{{key}}">{{key}}</label>
        <input name="{{key}}" id="{{key}}" placeholder="{{value}}" required />
      {% endif %}
    {% endfor %} 
      </div>
  {% endfor %} -->

</ul>
{% endblock %}
