<template>
                <div class="clone_sell flex_basis25">

                <div class="sell_cond_list2">
                  <div>
                    <main class="listContent">
                      <div class="flex_horizontal space_between">
                        <a class="showHelp bluebtn">Hyperopt settings</a>
                        <a class="addTask bluebtn">Add Condition</a>
                      </div>

                      <div class="toDoList listColumn">
                        <!-- <div class="task toDo" taskid="1" draggable="true"><a class="deleteButton"></a>xxxxx</div> -->
                      </div>
                      <div class="binder">
                        <select name="cond_bond" id="cond_bind">
                          <option value="and">AND</option>
                          <option value="or">OR</option>
                        </select>
                      </div>
                      <div class="ongoingList listColumn"></div>
                      <div class="binder">            
                        <select name="cond_bond" id="cond_bind">
                          <option value="and">AND</option>
                          <option value="or">OR</option>
                        </select></div>
                      <div class="doneList listColumn"></div>

                    </main>
                    
                    <div class="currentTask modal">
                      <textarea class="txtTask"></textarea><br />

                      <div class="flex_horizontal">
                          <input type="button" class="btnOk bluebtn mr10" value="Add" />
                          <input type="button" class="btnCancel bluebtn" value="Cancel" />
                      </div>

                    </div>

                    <div class="help modal">
                      <p class="helpText">
                        Add a new "to do" task by pressing the plus ("+") button.<br />
                        Move a task from one area to another ("to do", "ongoing", "done") by dragging and dropping it.
                      </p>
                        <input type="button" class="btnClose" value="Close" />
                    </div>
                  </div>
                </div>
                <!-- insert optimization results here -->
                <ul class="opti_results"></ul>
                </div>
</template>