{% extends 'base.html' %} {% block extra_code_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" />
<script type="module" src="{{ url_for('static', filename='js/cond_list.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/strategy.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/updatestrat_selectors.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='dist/main.js') }}"></script>
{% endblock %} {% block header %}
<div class="flex_horizontal space_between">
  <h1 id="strategy_id" data-id="{{strategy['strategy_id']}}">
    {% block title %} ID: {{strategy['strategy_id']}} {{ strategy['strategy_name'] }} {% endblock %}
  </h1>
  <div class="flex_horizontal">
    <button class="greybtn" id="update_strat_text">update_strat_text</button>

    <!-- NOT SURE IF WORKING -->
    <div class="dodo"></div>
    <button class="greybtn" id="save_edit_db">save_edit_db</button>

    <form action="{{ url_for('strategy.deletestrat', id=strategy['strategy_id']) }}" method="post">
      <input class="greybtn" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
    </form>
    <form action="{{ url_for('strategy.truncate', id=strategy['strategy_id']) }}" method="post">
      <input class="greybtn" type="submit" value="Reset strategy" onclick="return confirm('Are you sure?');" />
    </form>
    <button onclick="test()" class="fuck">fuck</button>
  </div>
</div>
{% endblock %} {% block content %}
<form class="hidden t" method="post">
  <label for="title">Title</label>
  <input
    name="strategy_name"
    id="strategy_name"
    value="{{ request.form['strategy_name'] or strategy['strategy_name'] }}"
    required />
  <label for="info">Info</label>
  <textarea name="info" id="info">{{ request.form['info'] or strategy['info'] }}</textarea>
  <input type="submit" value="Save" />
  <hr />
</form>

<!-- <div id="input-container"></div> -->
<!-- indicator forms -->
<div class="flex_horizontal gap10">
  <div class="flex_vertical">
    <div class="add_indicators_box">
      <div class="search_indicators">
        <form class="flex_horizontal basic_input">
          <button class="smallbtn_grey" type="submit">search</button>
          <input type="text" name="" id="search_indicator" />
        </form>
      </div>
      <div class="indicator_selectors">
        <select id="momentumDropdown" onchange="select_indicator('momentum','momentumDropdown')">
          <option value="">Momentum</option>
          {% for dict_item in momentum %} {% for key, value in dict_item.items() %} {% if key == "kind" %}
          <option value="{{ value }}">{{ value }}</option>
          {% endif %} {% endfor %} {% endfor %}
        </select>

        <select id="trendDropdown" onchange="select_indicator('trend','trendDropdown')">
          <option value="">Trend</option>
          {% for dict_item in trend %} {% for key, value in dict_item.items() %} {% if key == "kind" %}
          <option value="{{ value }}">{{ value }}</option>
          {% endif %} {% endfor %} {% endfor %}
        </select>
      </div>

      <hr />
      <div class="flex_vertical dataset_selector">
        <form class="flex_horizontal basic_input">
          <button class="smallbtn_grey" type="submit">search</button>
          <input type="text" name="" id="coin_search" />
        </form>

        <div id="strategy_dataset_selector"></div>
      </div>
    </div>
    <div class="form-container" id="form-container"></div>
  </div>

  <div class="flex_vertical chart_box">
    <div className="chart-container">
      <div class="chart"></div>
    </div>
  </div>
</div>
<div id="saved_conds"></div>
<div class="saved_conds_sell"></div>

<div id="conditions_sell"></div>
<!-- insert comparison buttons -->
<!-- <div id="compare_btns"></div> 
  <label for="value_cond">value</label>
  <input id="value_cond" type="number">
  <button onclick="value_cond()" id="value_cond">Add value</button> -->
<div class="functionality_btns flex_horizontal">
  <button class="greybtn" onclick="backtest()" id="backtest">Save backtest</button>
  <button class="greybtn" onclick="optimize()" id="optimize">Optimize</button>
  <button class="greybtn" onclick="load_params()">Load optimizer params</button>
</div>

<span id="backtest_result"></span>

<section class="flex_horizontal">
  <div>
    <table>
      <tbody class="param_buy">
        <template id="optimize_params">
          <tr data-all="all" class="param">
            <td class="indicator"></td>
            <td class="operator"></td>
            <td><input class="min minmax" type="number" value="0" /></td>
            <td><input class="max minmax" type="number" value="0" /></td>
            <td><button>&</button></td>
            <!-- <td class="max">&#128465;</td> -->
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <tbody class="param_sell"></tbody>
    </table>
  </div>
</section>

<!-- <button id="toggleButton" onclick="toggleConditions()">Hide Sell Conditions</button> -->

<div class="condition_list_clones flex_horizontal">
  <div class="buy_toggle">
    <header>
      <h2 class="h2_underline">Buy conditions</h2>
      <a class="bluebtn_big" id="new_todo_buy">New list</a>
    </header>
    <div class="flex_wrap">
      <section class="buy_clones flex_wrap"></section>
    </div>
  </div>
  <div class="sell_toggle">
    <header>
      <h2 class="h2_underline">Sell conditions</h2>
      <a class="bluebtn_big" id="new_todo_sell">New list</a>
    </header>
    <div class="flex_wrap cond_wrapper">
      <section class="sell_clones flex_wrap"></section>
    </div>
  </div>
</div>

<!-- Condition list Template-->
<template class="clone_template">
  <div class="cond_list flex_basis25">
    <div class="single_list">
      <div>
        <main class="listContent">
          <div class="flex_horizontal space_between">
            <a class="showHelp greybtn">Settings</a>
            <a class="addTask greybtn">Add</a>
          </div>

          <div class="toDoList listColumn">
            <!-- <div class="task toDo" taskid="1" draggable="true"><a class="deleteButton"></a>xxxxx</div> -->
          </div>
          <div class="binder">
            <select name="cond_bond" id="cond_bind">
              <option value="and">AND</option>
              <option value="or">OR</option>
            </select>
          </div>
          <div class="ongoingList listColumn"></div>
          <div class="binder">
            <select name="cond_bond" id="cond_bind">
              <option value="and">AND</option>
              <option value="or">OR</option>
            </select>
          </div>
          <div class="doneList listColumn"></div>
        </main>

        <div class="currentTask modal">
          <!-- insert indicator btn's -->

          <!-- <form action="">
            <input type="text" value="lol" class="txtTask" />
          </form> -->
          <div class="txtTask"></div>
          <div class="cond"></div>
          <!-- insert comparison buttons  -->
          <div class="compare"></div>
          <div class="compare_btns"></div>
          <div class="condition_btns"></div>
          <p>|| &&</p>
          <div class="or_and_btns"></div>
          <div class="basic_input">
            <button onclick="value_cond(this)" class="smallbtn_grey">Add value</button>
            <input name="value_cond" class="value_cond" type="number" />
          </div>
          <button class="smallbtn_blue" onclick="del_last()">Del</button>
          <button class="smallbtn_blue" onclick="del_last_sell_cond()">Del sell condition</button>
          <button class="smallbtn_blue" onclick="del_last_buy_cond()">Del buy condition</button>
          <br />

          <div class="flex_horizontal">
            <input type="button" class="btnOk greybtn mr10" value="Add" />
            <input type="button" class="btnCancel greybtn" value="Cancel" />
          </div>
        </div>

        <div class="help modal">
          <p class="helpText">
            Add a new "to do" task by pressing the plus ("+") button.<br />
            Move a task from one area to another ("to do", "ongoing", "done") by dragging and dropping it.
          </p>
          <input type="button" class="btnClose" value="Close" />
        </div>
      </div>

      <!-- insert optimization results here -->
      <ul class="opti_results"></ul>
    </div>
  </div>
</template>
<!-- sell -->

{% endblock %}
