{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="title">Title</label>
  <!-- name must match form['strategy_name'] -->
  <input name="strategy_name" id="title" value="{{ request.form['strategy_name'] }}" required />
  <label for="body">Body</label>
  <textarea name="expression" id="body">{{ request.form['expression'] }}</textarea>
  <label for="exchange">Exchange:</label>
  <input type="number" id="exchange" name="exchange" min="0" max="100" />
  <input type="submit" value="Save" />
</form>

<button onclick="showValue('ddddd')">TEST</button>
{% for dict_item in indicators %}
    {% for key, value in dict_item.items() %}
        {% if key == "kind" %} 
        <button onclick="loadIndicator('{{ value }}','momentum')" >{{value}}</button>
        {% endif %}
    {% endfor %} 
{% endfor %}
<div id="input-container"></div>
<div class="form-container" id="form-container"></div>
{% endblock %}
