{% extends 'base.html' %} {% block header %}

<div class="flex-vertical">
  <p>Id:<span id="strategy_id"> {{strategy['strategy_id']}}</span></p>
  <h1>{% block title %}Edit "{{ strategy['strategy_name'] }}"

</div>
{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="title"> Title</label>
  <input
    name="strategy_name"
    id="strategy_name"
    value="{{ request.form['strategy_name'] or strategy['strategy_name'] }}"
    required />
  <label for="info">info</label>
  <textarea name="info" id="info">{{ request.form['info'] or strategy['info'] }}</textarea>
  <input type="submit" value="Save" />
</form>
<hr />

{% for dict_item in indicators %}
    {% for key, value in dict_item.items() %}
        {% if key == "kind" %} 
        <!-- will trigger update_chart function in script.js -->
        <button onclick="loadIndicator('{{ value }}','momentum')" >{{value}}</button>
        {% endif %}
    {% endfor %} 
{% endfor %}
<div id="input-container"></div>
<div class="form-container" id="form-container"></div>
<div class="horizontal">
<form action="{{ url_for('blog.deletestrat', id=strategy['strategy_id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
</form>
<form action="{{ url_for('blog.truncate', id=strategy['strategy_id']) }}" method="post">
  <input class="danger" type="submit" value="Reset strategy" onclick="return confirm('Are you sure?');" />
</form>
</div>

<form class="preventDefault" action="/custom_endpoint" method="post">
    <input type="submit" value="Call Custom Endpoint">
</form>
    <div id="saved_conds">
    </div>
    <div id="saved_conds_sell">
    </div>
    <div id="cond">
    </div>
    <button onclick="del_last()">Del</button>
    <button onclick="del_last_sell_cond()">Del sell condition</button>
    <button onclick="del_last_buy_cond()">Del buy condition</button>

    <button id="update-button">Update Div</button>
    <!-- insert indicator btn's -->
    <div id="conditions"></div>
    <div id="conditions_sell"></div>
    <!-- insert comparison buttons -->
     <div id="compare"></div> 
      <label for="value_cond">value</label>
     <input id="value_cond" type="number">
     <button onclick="value_cond()" id="value_cond">Add value</button>
     <button onclick="save_cond_buy()" id="save_cond_buy">Save condition buy</button>
     <button onclick="save_cond_sell()" id="save_cond_sell">Save condition sell</button>
     <button onclick="backtest()" id="backtest">Save backtest</button>
     <button onclick="optimize()" id="optimize">Optimize</button>
     <span id="backtest_result"></span>
     <h2>sell</h2>
     <ul id="sell_conds"></ul>
     <h2>buy</h2>
     <ul id="buy_conds"></ul>
     <h2>buy conds</h2>
    <ul id="buy_cond2"></ul>
         <h2>sell conds</h2>
    <ul id="sell_cond2"></ul>
  
        <table>
          <thead>
            <tr>
              <th class="th-author"><p>Indicator</p></th>
              <th class="th-title"><p>operator</p></th>
              <th class="th-year"><p>min</p></th>
              <th class="th-year"><p>max</p></th>
            </tr>
          </thead>
          <tbody>
            <template id="optimize_params">
              <tr data-all="all" class="param">
                <td class="indicator"></td>
                <td class="operator"></td>
                <td><input class="min" type="number" value="0"></td>
                <td><input class="max" type="number" value="0"></td>
                <!-- <td class="max">&#128465;</td> -->
              </tr>
            </template>
          </tbody>
        </table>
        <button onclick="load_params()">load params</button>
      <div className='chart-container'>
        <h2>hello</h2>
        <div class="chart"></div>
      </div>

{% endblock %}
