{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Edit "{{ strategy['strategy_name'] }}"{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="title">Title</label>
  <input
    name="strategy_name"
    id="strategy_name"
    value="{{ request.form['strategy_name'] or strategy['strategy_name'] }}"
    required />
  <label for="info">info</label>
  <textarea name="info" id="info">{{ request.form['info'] or strategy['info'] }}</textarea>
  <input type="submit" value="Save" />
</form>
<hr />
{% for dict_item in indicators %}
    {% for key, value in dict_item.items() %}
        {% if key == "kind" %} 
        <button onclick="loadIndicator('{{ value }}','momentum')" >{{value}}</button>
        {% endif %}
    {% endfor %} 
{% endfor %}
<div id="input-container"></div>
<div class="form-container" id="form-container"></div>
<form action="{{ url_for('blog.deletestrat', id=strategy['strategy_id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
</form>
{% endblock %}
